/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .work-section img {
        padding: 45px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    //
    .work-section img {
        padding: 45px;
    }

    .main-block {
        h1 {
            font-size: 90px;
        }

        p {
            font-size: 15px;
        }
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .about-section p {
        font-size: 14px;
    }

    .toggle-mnu {
      margin-right: 50px;
      margin-top: 45px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .about-section {
        height: 440px;
    }

    p {
        padding: 10px;
        font-size: 15px;
    }

    .logo {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .main-block {
        height: 600px;
    }
    .work-item-img {
      height: 150px;
      width: 250px;
      &:before{
        margin-left: -125px;
        height: 150px;
        width: 250px;
      }
      .fa {
margin-top: 55px;
      }
    }
    .toggle-mnu {
      margin-right: 20px;
      margin-top: 25px;
    }

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .logo {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .main-block {
        height: 400px;
    }

    .work-item-img {
      height: 150px;
      width: 250px;
      	&:before{
          height: 150px;
          width: 250px;
        }
    }

    .toggle-mnu {
      margin-right: 20px;
      margin-top: 25px;
    }
}
/**/
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}
/**/
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}
/**/
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}
/**/
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}
/**/
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}
/**/
