@import 'normalize';
@import 'fonts';
@import 'libs';
@import 'vars'; //scss plugins
@import 'app/libs/font-awesome/scss/font-awesome';

body {
	font-size: 16px;
	min-width: 320px;
	line-height: 1.65;
	font-family: $default-font;
	position: relative;
	background-color: #F6F9F9;
	overflow-x: hidden;
	opacity: 1;
}

a {
	outline: none;
}

h2 {
	color: #2d394f;
	font-size: 40px;
}

h3 {
	color: #2d394f;
	font-size: 22px;
}

h4 {
	color: #fff;
	font-size: 41px;
}

.logo {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;

	a {
		color: #2d394f;
		font-family: "Lato";
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;

		img {
			margin-top: -8px;
			padding-right: 15px;
		}
	}
}

.top-mnu {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: right;
	}

	li {
		display: inline-block;
		font-size: 16px;
		padding: 38px 25px;

		a {
			color: $main-color;

			&:active,
			&:focus {}

			&:hover {
				color: $accent-color;
			}
		}
	}
}

.main-block {
	padding-top: 5%;
	text-align: center;
	background: url('../img/main-img.jpg');
	background-size: cover;
	width: 100%;
	height: 800px;

	h1 {
		display: inline;
		color: #fff;
		font-family: "Lato";
		font-size: 120px;
		font-weight: bold;
		text-transform: uppercase;

		&:after {
			margin: 0 auto;
			content: "";
			position: relative;
			display: block;
			background-color: $accent-color;
			width: 45%;
			height: 2px;
			min-width: 300px;
		}
	}

	p {
		color: #fff;
		font-weight: 200;
		font-size: 20px;
		margin-bottom: 64px;
	}

	.down-link {
		margin-top: 5%;
		color: #fff;
		font-size: 26px;
		display: block;
	}
}

.button {
	border-radius: 5px;
	background-color: $accent-color;
	color: #fff;
	padding: 23px 32px;
	text-decoration: none;

	&:visited {
		color: #fff;
		text-decoration: none;
	}

	&:hover {
		background-color: darken($accent-color, 15);
		text-decoration: none;
		color: #fff;

		&:active {
			text-decoration: none;
			background-color: darken($accent-color, 25);
		}
	}
}

.about-section {
	padding-top: 30px;
	text-align: center;
	height: 338px;

	p {
		color: #999;
		font-size: 20px;
	}
}

.desc-section {
	text-align: center;
	background-color: #fff;

	p {
		color: #999;
		font-size: 15px;
		margin-bottom: 8%;
	}

	.icon {
		margin-top: 10%;
		margin-bottom: 10%;
		display: inline-block;
		height: 100px;
		width: 100px;
		background: linear-gradient(to right, #48BAFF 50%, #5FC3FF 50%);

		.fa {
			color: #fff;
			margin-top: 21px;
			font-size: 58px;
			text-shadow: 1px 1px 2px black;
		}
	}
}

.work-section {
	text-align: center;

	p {
		margin-bottom: 8%;
		color: #999;
		font-size: 15px;
	}

.col-lg-4,
.col-md-6,
.col-sm-12, {
	text-align: center;
margin-bottom:50px;
}
}

.work-item {
	cursor: pointer;
	&:hover {
		&:before {
			position: absolute;
			content: '';
			height: 260px;
			width: 360px;
			top: 0;
			left: 15px;
			background-color: $accent-color;
			opacity: 0.6;
			z-index: 2;
		}
		.fa {
			opacity: 0.8;
		}
	}
	&-img {
		width: 360px;
		height: 260px;
		background-size: cover;
		margin-left: 4px;
		margin: 0 auto;
	}
	.fa {
		font-size: 30px;
		color: #fff;
		position: absolute;
		top: 110px;
		left:190px;
		opacity: 0;
		z-index: 3;
	}
}







.contact-section {
	margin-top: 8%;
	height: 676px;
	text-align: center;
	background: url('../img/contact-bg.jpg');
	background-size: cover;
	position: relative;

	p {
		color: #999;
		font-size: 15px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0.9;
		background-color: #2d394f;
	}
}


//to end
@import 'media';
